{% comment %}
	Renders a product badges

	Accepts:
	- product: {Object} Product Liquid object (required)
    - position: {String} Position of badges: ''

    Usage:
    Render this snippet inside of element with "product-media-container" or "product-main-media-swiper" class.

	Usage:
	{% render 'product-badges', product: product %}
{% endcomment %}

{%- assign position = position | default: 'bottom-left'-%}
{%- assign prefix = 'product-badge-position-' -%}

{% case position %}

    {% when 'top-left' %}
        {%- assign positionClass = position | prepend: prefix -%}
    {% when 'top-right' %}
        {%- assign positionClass = position | prepend: prefix -%}
    {% when 'bottom-left' %}
        {%- assign positionClass = position | prepend: prefix -%}
    {% when 'bottom-right' %}
        {%- assign positionClass = position | prepend: prefix -%}
    {% else %}
        {%- assign positionClass = 'bottom-left' | prepend: prefix -%}

{% endcase %}

{%- assign productHasDiscount = product.has_discount | default: false -%}
{%- assign productOutOfStock = product.out_of_stock | default: false -%}
{%- assign productIsNew = product.is_new | default: false -%}
{%- assign productDiscountPercent = product.discount_percent | default: 0 -%}

<div class="product-badges {{ positionClass }}">

    {% if productHasDiscount and productOutOfStock == false %}

        <div class="product-badge product-badge-discount">

            <span class="product-badge-content">
                -{{ productDiscountPercent }}%
            </span>

        </div>

    {% endif %}

    {% if productIsNew and productOutOfStock == false %}

        <div class="product-badge product-badge-new">

            <span class="product-badge-content">
                {{ 'product.new' | t }}
            </span>

        </div>

    {% elsif productOutOfStock %}

        <div class="product-badge product-badge-general">

            <span class="product-badge-content">
                {{ 'product.out_of_stock' | t }}
            </span>

        </div>

    {% endif %}

</div>