// Account
// -----------------------------------------------------------------------------------------

.section-account-orders {

	.orders {

		.order {
			border-bottom: 1px solid section-var(border_color);
			padding: spacer(4);

			&:hover {
				background-color: color-yiq(section-var(background_color), darken(section-var(background_color), 5%), lighten(section-var(background_color), 5%));
			}

			&:last-child {
				margin-bottom: 0;
			}

			.order-media {
				width: 70px;
				@include aspect-ratio(9, 13);
			}

			.order-name {
				margin-bottom: spacer(1);

				.order-name-text {
					font-size: $font-size-base;
                    font-weight: $font-weight-normal;
                    line-height: $line-height-base;
                    margin-bottom: 0;
				}
			}

			.order-number {
				margin-bottom: spacer(1);

				.order-number-text {
					display: block;
					font-size: 90%;
					color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));
				}
			}

			.order-date {
				display: block;
				font-size: 90%;
				color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));
			}

			.order-total-price {
				text-align: right;

			    .order-total-price-text {
			    	font-size: $font-size-base * 1.1;
			    }
			}

			.order-status {
				margin-bottom: spacer(2);
				text-align: right;

				.order-status-text {
					font-weight: $font-weight-bold;
				}
			}
		}
	}
}

.section-account-order {

	.order {

		.order-details {
			margin-bottom: spacer(6);
		}

		.order-addresses {
			margin-bottom: spacer(4);

			.order-shipping-address,
			.order-billing-address {
				border: 1px solid section-var(border_color);
				padding: spacer(4);
			}
		}
		.order-items {

			.order-item {
				border-bottom: 1px solid section-var(border_color);
				padding-top: spacer(4);
				padding-bottom: spacer(4);

				.order-item-media {
					width: 70px;
					@include aspect-ratio(9, 13);
				}

				.order-item-name {
					margin-bottom: spacer(1);

					.order-item-name-text {
						font-size: $font-size-base;
	                    font-weight: $font-weight-normal;
	                    line-height: $line-height-base;
	                    margin-bottom: 0;
					}
				}

				.order-item-quantity {

					.order-item-quantity-text {
						display: block;
    					margin-bottom: spacer(1);
    					font-size: 90%;
    					color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));
					}
				}

				.order-item-product-number {

					.order-item-product-number-text {
						display: block;
    					margin-bottom: spacer(1);
    					font-size: 90%;
    					color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));
					}
				}


				.order-item-attributes {
    				margin-top: spacer(1);

    				.order-item-attribute {
    					display: block;
    					margin-bottom: spacer(1);
    					font-size: 90%;
    					color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));

    					&:last-child {
    						margin-bottom: 0;
    					}
    				}
    			}
			}
		}

		.order-summary {
			margin-top: spacer(4);

			.order-total {
    			font-weight: $font-weight-bold;
    		}
		}
	}
}