// Cart
// -----------------------------------------------------------------------------------------

@include section-style() {

    .cart {

    	.cart-footer {
    		padding-top: spacer(3);
    	}

    	.cart-items {

    		.cart-item {
    			border-bottom: 1px solid section-var(border_color);
    			margin-bottom: spacer(4);
    			padding-bottom: spacer(4);

    			&:last-child {
    				margin-bottom: 0;
    			}

    			.cart-item-media {
    				width: 70px;
    			}

    			.cart-item-manufacturer {

    				.cart-item-manufacturer-text {
    					font-family: $accent-font-family;
	                    font-size: $font-size-base * 1.15;
	                    line-height: $line-height-base;
	                    margin-bottom: 0;
    				}
    			}

    			.cart-item-name {

    				.cart-item-name-text {
    					font-size: $font-size-base;
	                    font-weight: $font-weight-normal;
	                    line-height: $line-height-base;
	                    margin-bottom: 0;
    				}
    			}

    			.cart-item-attributes {
    				margin-top: spacer(1);

    				.cart-item-attribute {
    					display: block;
    					margin-bottom: spacer(1);
    					font-size: 90%;
    					color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));

    					&:last-child {
    						margin-bottom: 0;
    					}
    				}
    			}

    			.cart-item-quantity {
    				display: flex;
    				margin-top: spacer(4);

    				.cart-item-quantity-decrease,
    				.cart-item-quantity-increase {
    					width: 28px;
    					height: 28px;
    					border: 1px solid section-var(border_color);
    					color: section-var(border_color);
    					text-align: center;
    				}

    				.cart-item-quantity-input {
    					margin-left: spacer(2);
    					margin-right: spacer(2);
    					width: 38px;
					    border: 1px solid transparent;
					    outline: 0;
					    text-align: center;

					    &:hover,
					    &:focus {
					    	border-color: section-var(border_color);
					    }
    				}
    			}

    			.cart-item-price {
				    display: flex;
				    align-items: flex-end;
				    justify-content: flex-end;
				    height: 100%;

				    .cart-item-price-text {
				    	font-size: $font-size-base * 1.1;
				    }
    			}

    			.cart-item-remove {
    				display: flex;
				    align-items: flex-start;
				    justify-content: flex-end;
				    height: 100%;
    				font-size: $font-size-base * 1.1;
    			}
    		}
    	}

    	.cart-subtotal {
    		display: flex;
    		flex-direction: column;
    	}

    	.cart-summary {
    		display: flex;
    		flex-direction: column;
    		margin-left: auto;
    		margin-bottom: spacer(4);

    		.cart-total {
    			font-weight: $font-weight-bold;
    			border-top: 1px solid section-var(border_color);
    			margin-top: spacer(3);
    			padding-top: spacer(3);
    		}
    	}
    }

    .cart-mini {
    	max-height: 0;
	    transition: max-height .5s ease-in-out;
	    background-color: section-var(background_color);
    	overflow: hidden;
    	width: 335px;
    	visibility: hidden;
    	opacity: 0;
    	z-index: 2;

    	&.cart-mini-items-hint-top {

    		.cart-header {
    			box-shadow: 0px 0px 10px 0px section-var(border_color);
    		}
    	}

    	&.cart-mini-items-hint-bottom {

    		.cart-footer {
    			box-shadow: 0px 0px 10px 0px section-var(border_color);
    		}
    	}

    	&.cart-mini-expanded {
    		max-height: 650px;
    		border: 1px solid section-var(border_color);
    		visibility: visible;
    		opacity: 1;
    	}

    	.cart-header {
    		text-align: center;
    		padding: spacer(3);

    		.cart-header-text {
    			font-size: $font-size-base * 1.2;
	        	font-weight: $font-weight-bold;
    		}
    	}

    	.cart-body {
    		overflow: hidden;
    		margin: 0 spacer(3);
    	}

    	.cart-footer {
    		padding: spacer(3);
    	}

    	.cart-items {
    		max-height: 350px;
    		overflow-y: scroll;
		    overflow-x: hidden;
		    transition: max-height .2s ease-in-out;
		    padding: 0 0 0 15px;
		    margin: 0 -15px;

    		.cart-item {
    			border-bottom: 1px solid section-var(border_color);
    			margin-bottom: spacer(3);
    			padding-bottom: spacer(3);

    			.cart-item-media {
    				width: 70px;
    			}

    			.cart-item-manufacturer {

    				.cart-item-manufacturer-text {
    					font-family: $accent-font-family;
	                    font-size: $font-size-base * 1.15;
	                    line-height: $line-height-base;
	                    margin-bottom: 0;
    				}
    			}

    			.cart-item-name {
    				margin-bottom: spacer(1);

    				.cart-item-name-text {
    					font-size: $font-size-base;
	                    font-weight: $font-weight-normal;
	                    line-height: $line-height-base;
	                    margin-bottom: 0;
    				}
    			}

    			.cart-item-attributes {

    				.cart-item-attribute {
    					display: block;
    					margin-bottom: spacer(1);
    					font-size: 90%;
    					color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));
    				}
    			}

    			.cart-item-quantity {
    				display: flex;

    				.cart-item-quantity-decrease,
    				.cart-item-quantity-increase {
    					width: 28px;
    					height: 28px;
    					border: 1px solid section-var(border_color);
    					color: section-var(border_color);
    					text-align: center;
    				}

    				.cart-item-quantity-input {
    					margin-left: spacer(2);
    					margin-right: spacer(2);
    					width: 38px;
					    border: 1px solid transparent;
					    outline: 0;
					    text-align: center;

					    &:hover,
					    &:focus {
					    	border-color: section-var(border_color);
					    }
    				}

    				.cart-item-quantity-text {
    					font-size: 90%;
    					color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%));
    				}
    			}

    			.cart-item-price {
				    display: flex;
				    align-items: flex-end;
				    justify-content: flex-end;
				    height: 100%;

				    .cart-item-price-text {
				    	font-size: $font-size-base * 1.1;
				    }
    			}

    			.cart-item-remove {
    				display: flex;
				    align-items: flex-start;
				    justify-content: flex-end;
				    height: 100%;
    				font-size: $font-size-base * 1.1;

    				button {
    					width: 20px;
    					text-align: center;
    				}
    			}
    		}
    	}

    	.cart-summary {
    		padding-bottom: spacer(3);

    		.cart-total {
    			font-weight: $font-weight-bold;
    		}
    	}
    }
}