// Product card
// -----------------------------------------------------------------------------------------

@include section-style($section: 'product-card') {

	.swiper-container-vertical {

		.swiper-button-prev,
        .swiper-button-next {
			width: 30px;
            height: 30px;
            left: 50%;
            margin-left: -15px;
        }

		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next {
			font-size: 1.5rem;
			top: 4px;
		}

		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
			font-size: 1.5rem;
			bottom: 4px;
		}
	}

	.product-media-container {

		.product-media {
			display: flex;

			#product-main-media-swiper {
				align-self: flex-start;
				padding: 0;
				@include media-breakpoint-down(md) {
					margin-left: $grid-gutter-width / 2;
					margin-right: $grid-gutter-width / 2;
				}

				.swiper-slide {
					@include aspect-ratio(9, 13, $img-fit, center);
				}

				.product-media-video-container {
					position: relative;

					.product-media-video-icon-container {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						height: 100%;

						.product-media-video-icon {
							background-color: section-var(background_color);
							stroke: section-var(text_color);
							border-radius: 50%;
							font-size: 2.5rem;
							padding: spacer(2);
							filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
						}
					}
				}
			}

			#product-thumb-media-swiper {
				height: 537px;
				@include media-breakpoint-up(xl) {
					height: 681px;
				}

    			.swiper-slide {
    				border-width: 2px;
    				border-style: solid;
    				border-color: transparent;

    				&.swiper-slide-thumb-active  {
						border-color: color-yiq(section-var(border_color), darken(section-var(border_color), 50%), lighten(section-var(border_color), 50%));
					}

    				img {
    					width: 100%;
				        height: 100%;
				        object-fit: $img-fit;
				        font-family: 'object-fit: #{$img-fit}';
    				}
    			}
			}
		}
	}

	.product-badges {
		flex-direction: column;
		flex-wrap: wrap;

		.product-badge {
			margin-right: 0;
		}

		&.product-badge-position-top-left,
		&.product-badge-position-bottom-left {

			.product-badge {
				align-self: flex-start;
			}
		}

		&.product-badge-position-top-right,
		&.product-badge-position-bottom-right {

			.product-badge {
				align-self: flex-end;
			}
		}
	}

	.product-info {

		.product-manufacturer {
			margin-bottom: spacer(1);

			.product-manufacturer-text {
				font-weight: $font-weight-normal;
				font-family: $accent-font-family;
	            font-size: $font-size-base * 2;
	            line-height: $line-height-computed * 1.6;
			}
		}

		.product-name {

			.product-name-text {
				font-size: $font-size-base * 2;
	            line-height: $line-height-computed * 2.4;
			}
		}

		.product-pricing {
			margin-top: spacer(2);
			margin-bottom: spacer(4);

			.product-discount {
				font-size: $font-size-base * 1.1;
	            line-height: $line-height-computed * 1.6;
			}

			.product-price-container {

				.product-sale-price-text {
					font-size: $font-size-base * 1.6;
	            	line-height: $line-height-computed * 1.6;
				}

				.product-price {
					font-size: $font-size-base * 1.6;
	            	line-height: $line-height-computed * 1.6;
				}
			}

			.product-vat {
				margin-top: spacer(1);
			}
		}

		> .product-review-rating {
			margin-bottom: spacer(6);

			#product-show-reviews {
				display: flex;
				align-items: center;
			}

			.product-review-icons {
				display: inline-flex;

				.product-review-icon {
					font-size: $font-size-base * 2.2;
					margin-right: spacer(1);
					line-height: 0;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.product-review-text {
				font-size: $font-size-base * 1.2;
				margin-left: spacer(2);
			}
		}

		.product-short-description {
			margin-bottom: spacer(6);
		}

		.product-bulk-discounts {
			margin-top: spacer(6);

			.product-bulk-discount-header {
				border-bottom: 1px solid section-var(border_color);
				padding: spacer(2) spacer(3);
			}

			.product-bulk-discount-item {
				border-bottom: 1px solid section-var(border_color);
				padding: spacer(2) spacer(3);
			}
		}

		.product-related-items {
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + #{2 * spacer(2)});
			margin-top: spacer(6);
			margin-left: -#{spacer(2)};
			margin-bottom: -#{spacer(3)};

			.product-related-item {
				flex: 0 0 16.66667%;
	    		max-width: 16.66667%;
	    		padding-left: spacer(2);
	    		padding-right: spacer(2);
	    		margin-bottom: spacer(3);
	    		@include media-breakpoint-down(sm) {
	    			flex: 25%;
	    			max-width: 25%;
	    		}
	    		@include media-breakpoint-down(md) {

	    		}

				.product-related-item-media {
					border: 2px solid transparent;
					@include aspect-ratio(9, 13);

					&:hover {
						border-color: color-yiq(section-var(border_color), darken(section-var(border_color), 50%), lighten(section-var(border_color), 50%));
					}
				}
			}
		}

		.product-form {
			margin-top: spacer(6);

			.product-wishlist-action {
				text-align: center;
				border: 2px solid section-var(button_bg_color);
				border-radius: $btn-border-radius;
				width: 60px;
			}
		}

		.product-reviews {

			.product-review-rating {

				.svg-icon {
					path {
						stroke: section-var(text_color);
					}
				}

	            > input:checked ~ label,
	            &:not(:checked) > label:hover,
	            &:not(:checked) > label:hover ~ label {

	                .svg-icon {
	                	color: section-var(text_color);

						path {
							stroke: currentColor;
						}
					}
	            }

	            > input:checked + label:hover,
	            > input:checked ~ label:hover,
	            > label:hover ~ input:checked ~ label,
	            > input:checked ~ label:hover ~ label {

	                .svg-icon {
	                	color: section-var(text_color);

						path {
							stroke: currentColor;
						}
					}
	            }
	        }
		}

		.product-details {
			margin-top: spacer(6);

			.card-header {

				button[aria-expanded="true"] {
					.accordion-indicator {
						transform: rotate(180deg);
					}
				}
			}

			.accordion-indicator {
				margin-left: auto;
			}

			.product-review-icons {
				display: inline-flex;

				.product-review-icon {
					font-size: $font-size-base * 1.3;
					margin-right: spacer(1);
					line-height: 0;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.product-reviews {
				max-height: 600px;
    			overflow: auto;

				.product-review-rating {
					display: inline-flex;
				    flex-direction: row-reverse;
				    line-height: 0;

		            > input {
		                display: none;
		            }

		            > label {
		                font-size: $font-size-base * 2.2;
						padding-right: spacer(1);
						margin-bottom: 0;
						line-height: 0;
						cursor: pointer;

						&:last-child {
							padding-left: 0;
						}

		                .svg-icon {
		                	color: transparent;
						}
		            }
		        }

		        .product-review {

		        	& + .product-review {
		        		border-top: 1px solid section-var(border_color);
		        		margin-top: spacer(4);
		        		padding-top: spacer(4);
		        	}

		        	&:last-child {
		        		margin-bottom: 0;
		        	}

		        	.product-review-title {
		        		font-size: $font-size-base * 1.2;
                        font-weight: $font-weight-bold;
                        margin-bottom: spacer(3);
		        	}

		        	.product-review-date {

		        	}

		        	.product-review-rating {

		        	}

		        	.product-review-content {
		        		margin-top: spacer(3);
		        	}
		        }
			}

			.product-attachments {

				.product-attachment-item {
					margin-bottom: spacer(2);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}