// Promotion list
// -----------------------------------------------------------------------------------------

@include style('promotion-list') {

	color: section-var(text_color);

	a {
        color: section-var(link_color);

        @include hover() {
            color: section-var(link_color);
        }
    }

    .svg-icon, {
		color: section-var(icon_color);
	}

	.svg-placeholder {
		color: section-var(text_color);
	}

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: section-var(heading_color);
	}

	hr {
		border-top: $hr-border-width solid section-var(border_color);
	}

	.text-icon {
		color: section-var(icon_color);
	}

	.text-title {
		color: section-var(heading_color);
	}

	.text-subtitle {
		color: section-var(subheading_color);
	}

	.text-product-title {
		color: section-var(product_title_color);
	}

	.text-price {
		color: section-var(price_color);
	}

	.text-sale-price {
		color: section-var(sale_price_color);
	}

	.text-muted {
		color: color-yiq(section-var(text_color), darken(section-var(text_color), 30%), lighten(section-var(text_color), 30%)) !important;
	}

	.text-section {
		color: section-var(text_color);
	}

	.text-underline-indicator {
		@include hover() {
			border-bottom-color: section-var(indicator_color);
		}
	}

	.btn {

        &.btn-section {
            @include section-button-variant(section-var(button_bg_color), section-var(button_text_color));
        }

        &.btn-outline-section {
            @include section-button-outline-variant(section-var(button_bg_color), section-var(button_text_color));
        }
    }

    .btn-icon {
        color:section-var(icon_color);

        &:hover {
            color: section-var(indicator_color);
        }

        &.disabled,
        &[disabled] {
            &:hover {
                color: section-var(icon_color);
            }
        }
    }

    .btn-link {
        color: section-var(link_color);

        @include hover() {
            color: section-var(link_color);
        }
    }
}

.section-promotion-list {

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		overflow-wrap: break-word;
	    word-wrap: break-word;
	    hyphens: auto;
	}

	h1,
	.h1 {
		@include relative-font-size($h1-font-size);
	}

	h2,
	.h2 {
		@include relative-font-size($h2-font-size);
	}

	h3,
	.h3 {
		@include relative-font-size($h3-font-size);
	}

	h4,
	.h4 {
		@include relative-font-size($h4-font-size);
	}

	h5,
	.h5 {
		@include relative-font-size($h5-font-size);
	}

	h6,
	.h6 {
		@include relative-font-size($h6-font-size);
	}

	.text-underline-indicator {
		transition: border .15s ease-in-out;
		border-bottom: 2px solid transparent;
		padding-bottom: 2px;
		margin-bottom: -4px;
	}

	.btn-link {
        padding: 0;
        border: 0;
        border-radius: 0;
    }

	.section-inner {

		.has-img-effect {
			overflow: hidden;

			&:hover {

				.aspect-ratio-item {
					transform: scale(1.03);
				}
			}

			.aspect-ratio-item {
				transition: transform .3s ease;
			}
		}

		.item-img-container:before {
			z-index: 1;
		}

		.item-content-container {
			z-index: 1;

			.item-title,
			.item-description,
			.item-btn {
				z-index: 2;
			}
		}

		&.promotion-layout-4,
		&.promotion-layout-6,
		&.promotion-layout-7,
		&.promotion-layout-8,
		&.promotion-layout-9,
		&.promotion-layout-10 {

			.style-darkest {
				text-shadow: 1px 1px 0px rgb(0 0 0 / 10%);

				.item-img-container {

					&:before {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						content: '';
						background-color: rgba(0,0,0,0.1);
					}
				}
			}
		}

		&.promotion-layout-4 {

			&.items-per-row-4 {
				@include media-breakpoint-up(lg) {
					.item-title {
						@include relative-font-size($h1-font-size * 0.70);
					}

					.item-description {
						font-size: $font-size-base;
					}
				}
			}

			&.items-per-row-5 {
				@include media-breakpoint-up(lg) {
					.item-title {
						@include relative-font-size($h1-font-size * 0.70);
					}

					.item-description {
						font-size: $font-size-base;
					}
				}
			}
		}

		&.promotion-layout-5 {

			.has-img-effect {
				overflow: visible;
			}
		}

		&.promotion-layout-7 {

			.collage {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				@include media-breakpoint-down(md) {
					gap: 1rem;
					margin-top: calc(1rem / 2);
					margin-bottom: calc(1rem / 2);
				}
				@include media-breakpoint-up(md) {
					grid-template-columns: repeat(3, 1fr);

					&.collage-gap-off {
						gap: 0;
					}

					&.collage-gap-sm {
						gap: 1rem;
						margin-top: calc(1rem / 2);
						margin-bottom: calc(1rem / 2);
					}

					&.collage-gap-md {
						gap: 1.25rem;
						margin-top: calc(1.25rem / 2);
						margin-bottom: calc(1.25rem / 2);
					}

					&.collage-gap-lg {
						gap: 1.5rem;
						margin-top: calc(1.5rem / 2);
						margin-bottom: calc(1.5rem / 2);
					}

					&.collage-gap-xl {
						gap: 2rem;
						margin-top: calc(2rem / 2);
						margin-bottom: calc(2rem / 2);
					}
				}

				.collage-item {

					&:nth-child(1) {
						grid-row: 1/3;
						grid-column-start: 1;
    					grid-column-end: 3;

						.collage-item-inner {
							height: 100%;
						}
					}

					&:nth-child(n+2) {
						.item-title {
							@include relative-font-size($h1-font-size * 0.70);
						}

						.item-description {
							font-size: $font-size-base;
						}
						@include media-breakpoint-down(md) {
							.item-title {
								@include relative-font-size($h1-font-size * 0.60);
							}

							.item-description {
								display: none;
							}

							.item-btn {
								display: none;
							}
						}
					}
				}
			}
		}

		&.promotion-layout-8 {

			.collage {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				@include media-breakpoint-down(md) {
					gap: 1rem;
					margin-top: calc(1rem / 2);
					margin-bottom: calc(1rem / 2);
				}
				@include media-breakpoint-up(md) {
					grid-template-columns: repeat(3, 1fr);

					&.collage-gap-off {
						gap: 0;
					}

					&.collage-gap-sm {
						gap: 1rem;
						margin-top: calc(1rem / 2);
						margin-bottom: calc(1rem / 2);
					}

					&.collage-gap-md {
						gap: 1.25rem;
						margin-top: calc(1.25rem / 2);
						margin-bottom: calc(1.25rem / 2);
					}

					&.collage-gap-lg {
						gap: 1.5rem;
						margin-top: calc(1.5rem / 2);
						margin-bottom: calc(1.5rem / 2);
					}

					&.collage-gap-xl {
						gap: 2rem;
						margin-top: calc(2rem / 2);
						margin-bottom: calc(2rem / 2);
					}
				}

				.collage-item {

					.collage-item-inner {

						.item-title {
							@include relative-font-size($h1-font-size * 0.70);
						}

						.item-description {
							font-size: $font-size-base;
						}
						@include media-breakpoint-down(md) {
							.item-title {
								@include relative-font-size($h1-font-size * 0.60);
							}

							.item-description {
								display: none;
							}

							.item-btn {
								display: none;
							}
						}
					}
				}
			}
		}

		&.promotion-layout-9 {

			.collage {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				@include media-breakpoint-down(md) {
					gap: 1rem;
					margin-top: calc(1rem / 2);
					margin-bottom: calc(1rem / 2);
				}
				@include media-breakpoint-up(md) {
					grid-template-columns: repeat(4, 1fr);

					&.collage-gap-off {
						gap: 0;
					}

					&.collage-gap-sm {
						gap: 1rem;
						margin-top: calc(1rem / 2);
						margin-bottom: calc(1rem / 2);
					}

					&.collage-gap-md {
						gap: 1.25rem;
						margin-top: calc(1.25rem / 2);
						margin-bottom: calc(1.25rem / 2);
					}

					&.collage-gap-lg {
						gap: 1.5rem;
						margin-top: calc(1.5rem / 2);
						margin-bottom: calc(1.5rem / 2);
					}

					&.collage-gap-xl {
						gap: 2rem;
						margin-top: calc(2rem / 2);
						margin-bottom: calc(2rem / 2);
					}
				}

				.collage-item {
					grid-column: span 2;
					@include media-breakpoint-down(sm) {
						grid-column: span 4;
					}

					&:nth-child(3n+3) {
						grid-column: span 4;

						.collage-item-inner {
							@include media-breakpoint-down(md) {
								.item-title {
									@include relative-font-size($h1-font-size * 0.60);
								}

								.item-description {
									display: none;
								}

								.item-btn {
									display: none;
								}
							}
						}
					}
				}
			}
		}

		&.promotion-layout-10 {

			.collage {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				@include media-breakpoint-down(md) {
					gap: 1rem;
					margin-top: calc(1rem / 2);
					margin-bottom: calc(1rem / 2);
				}
				@include media-breakpoint-up(md) {
					grid-template-columns: repeat(4, 1fr);

					&.collage-gap-off {
						gap: 0;
					}

					&.collage-gap-sm {
						gap: 1rem;
						margin-top: calc(1rem / 2);
						margin-bottom: calc(1rem / 2);
					}

					&.collage-gap-md {
						gap: 1.25rem;
						margin-top: calc(1.25rem / 2);
						margin-bottom: calc(1.25rem / 2);
					}

					&.collage-gap-lg {
						gap: 1.5rem;
						margin-top: calc(1.5rem / 2);
						margin-bottom: calc(1.5rem / 2);
					}

					&.collage-gap-xl {
						gap: 2rem;
						margin-top: calc(2rem / 2);
						margin-bottom: calc(2rem / 2);
					}
				}

				.collage-item {

					&:nth-child(5n+5) {
						grid-row: 1/3;
						grid-column-start: 3;
    					grid-column-end: 5;
    					@include media-breakpoint-down(md) {
    						grid-column-start: 1;
    						grid-column-end: 3;
    					}

						.collage-item-inner {
							height: 100%;
						}
					}

					&:not(:nth-child(5n+5)) {

						.item-title {
							@include relative-font-size($h1-font-size * 0.70);
						}

						.item-description {
							font-size: $font-size-base;
						}

						@include media-breakpoint-down(md) {
							.item-title {
								@include relative-font-size($h1-font-size * 0.60);
							}

							.item-description {
								display: none;
							}

							.item-btn {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}