// Article
// -----------------------------------------------------------------------------------------

.section-article {

	.item-comments {

		&.has-comments > .item-reply {
			border-bottom: 1px dashed rgba(0,0,0,0.2);
		}

        textarea {
            min-height: 100px;
        }

        > .item-comment {
            border-bottom: 1px dashed rgba(0,0,0,0.2);

            &:last-of-type {
                border-bottom: 0;
            }
        }

        .item-comment {
            margin-top: 15px;

            > .item-comment {
                padding-left: 30px;

                .item-comment-inner {
                    border-top: 1px dashed rgba(0,0,0,0.2);
                    padding-top: 15px;
                    padding-left: 15px;
                }
            }

            .item-comment-inner {

                .item-comment-header {

                    button[name="item-comment-reply-show-action"] {
                        float: right;
                        margin-left: 15px;
                    }

                    .item-comment-remove-form {
                        display: inline;
                        float: right;
                        margin-left: 15px;
                    }
                }

                .item-comment-content {
                    padding-top: 15px;
                    margin-bottom: 15px;

                    p {
                        word-break: break-word;
                        margin: 0;
                    }
                }
            }
        }
    }
}