//
// Social Buttons
// --------------------------------------------------

@mixin social-btn-style-default($color, $bg) {
    background-color: $bg;
    color: $color;
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: lighten($bg, 5%);

    }
}

@mixin social-btn-style-text($color, $bg) {
    background-color: $bg;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    color: $color;
    width: auto;
    padding: 0 4px;

    .svg-icon {
        vertical-align: baseline;
    }

    &:hover,
    &:focus {
        background-color: lighten($bg, 5%);
    }
}

@mixin social-btn-style-border-circle($color, $bg) {
    background-color: transparent;
    border: 2px solid $bg;
    border-radius: 50%;
    color: $bg;
    transition: color .15s linear, background-color .15s linear;

    .svg-icon {
        vertical-align: baseline;
    }

    &:hover,
    &:focus {
        color: $color;
        background-color: $bg;
    }
}

@mixin social-btn-style-box($color, $bg) {
    background-color: $bg;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    color: $color;

    &:hover,
    &:focus {
        background-color: lighten($bg, 5%);
    }
}

@mixin social-btn-style-bw {
    background-color: #3b3b3b;
    color: #ffffff;
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: lighten(#3b3b3b, 5%);
    }
}

@mixin social-btn-style-brand {
    background-color: $primary;
    color: color-yiq($primary);
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: lighten($primary, 5%);
    }
}

.social-buttons {

    .social-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 2px;
        text-align: center;

        &:last-child {
            margin-right: auto;
        }

        // Social btns
        &.social-btn-fb {
            &.social-btn-style-default {
               @include social-btn-style-default($social-fb-text, $social-fb-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-fb-text, $social-fb-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-fb-text, $social-fb-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-fb-text, $social-fb-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-flickr {
            &.social-btn-style-default {
               @include social-btn-style-default($social-flickr-text, $social-flickr-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-flickr-text, $social-flickr-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-flickr-text, $social-flickr-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-flickr-text, $social-flickr-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-youtube {
            &.social-btn-style-default {
               @include social-btn-style-default($social-youtube-text, $social-youtube-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-youtube-text, $social-youtube-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-youtube-text, $social-youtube-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-youtube-text, $social-youtube-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-pinterest {
            &.social-btn-style-default {
               @include social-btn-style-default($social-pinterest-text, $social-pinterest-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-pinterest-text, $social-pinterest-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-pinterest-text, $social-pinterest-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-pinterest-text, $social-pinterest-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-instagram {
            &.social-btn-style-default {
               @include social-btn-style-default($social-instagram-text, $social-instagram-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-instagram-text, $social-instagram-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-instagram-text, $social-instagram-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-instagram-text, $social-instagram-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-linkedin {
            &.social-btn-style-default {
               @include social-btn-style-default($social-linkedin-text, $social-linkedin-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-linkedin-text, $social-linkedin-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-linkedin-text, $social-linkedin-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-linkedin-text, $social-linkedin-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-tumblr {
            &.social-btn-style-default {
               @include social-btn-style-default($social-tumblr-text, $social-tumblr-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-tumblr-text, $social-tumblr-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-tumblr-text, $social-tumblr-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-tumblr-text, $social-tumblr-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-twitter {
            &.social-btn-style-default {
               @include social-btn-style-default($social-twitter-text, $social-twitter-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-twitter-text, $social-twitter-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-twitter-text, $social-twitter-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-twitter-text, $social-twitter-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-vimeo {
            &.social-btn-style-default {
               @include social-btn-style-default($social-vimeo-text, $social-vimeo-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-vimeo-text, $social-vimeo-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-vimeo-text, $social-vimeo-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-vimeo-text, $social-vimeo-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-soundcloud {
            &.social-btn-style-default {
               @include social-btn-style-default($social-soundcloud-text, $social-soundcloud-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-soundcloud-text, $social-soundcloud-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-soundcloud-text, $social-soundcloud-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-soundcloud-text, $social-soundcloud-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-whatsapp {
            &.social-btn-style-default {
               @include social-btn-style-default($social-whatsapp-text, $social-whatsapp-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-whatsapp-text, $social-whatsapp-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-whatsapp-text, $social-whatsapp-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-whatsapp-text, $social-whatsapp-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-reddit {
            &.social-btn-style-default {
               @include social-btn-style-default($social-reddit-text, $social-reddit-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-reddit-text, $social-reddit-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-reddit-text, $social-reddit-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-reddit-text, $social-reddit-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        &.social-btn-email {
            &.social-btn-style-default {
               @include social-btn-style-default($social-email-text, $social-email-bg);
            }
            &.social-btn-style-text {
               @include social-btn-style-text($social-email-text, $social-email-bg);
            }
            &.social-btn-style-border-circle {
               @include social-btn-style-border-circle($social-email-text, $social-email-bg);
            }
            &.social-btn-style-box {
               @include social-btn-style-box($social-email-text, $social-email-bg);
            }
            &.social-btn-style-bw {
               @include social-btn-style-bw;
            }
            &.social-btn-style-brand {
               @include social-btn-style-brand;
            }
        }

        // Social btn sizes
        &.social-btn-size-xs {
            width: 28px;
            height: 28px;
            line-height: 28px;
            font-size: 12px;

            .svg-icon {
                font-size: 14px;
            }
        }
        &.social-btn-size-sm {
            width: 38px;
            height: 38px;
            line-height: 38px;
            font-size: 17px;

            .svg-icon {
                font-size: 19px;
            }
        }
        &.social-btn-size-m {
            width: 48px;
            height: 48px;
            line-height: 48px;
            font-size: 22px;

            .svg-icon {
                font-size: 24px;
            }
        }
        &.social-btn-size-lg {
            width: 58px;
            height: 58px;
            line-height: 58px;
            font-size: 27px;

            .svg-icon {
                font-size: 29px;
            }
        }
        &.social-btn-size-xl {
            width: 68px;
            height: 68px;
            line-height: 68px;
            font-size: 32px;

            .svg-icon {
                font-size: 34px;
            }
        }
        &.social-btn-size-xxl {
            width: 78px;
            height: 78px;
            line-height: 78px;
            font-size: 37px;

            .svg-icon {
                font-size: 39px;
            }
        }
    }
}