<div class="product-subvariant-container form-group" data-variant="{{ option.variant.id }}" data-option="{{ option.id }}" style="display: none;">

    {%- assign variant = option.subvariant -%}
    {%- assign subOption = option.id -%}

    {%- if variant.input_type == 'select' -%}

        {% render 'product-variants/select', variant: variant, subOption %}

    {%- elsif variant.input_type == 'radio' -%}

        {% render 'product-variants/radio', variant: variant, subOption %}

    {%- elsif variant.input_type == 'checkbox' -%}

        {% render 'product-variants/checkbox', variant: variant, subOption %}

    {%- elsif variant.input_type == 'text' -%}

        {% render 'product-variants/text', variant: variant, subOption %}

    {%- endif -%}

</div>