{%- assign defaultBtnLabel = 'system.placeholder_text' | t -%}
{%- assign btnLabel = block.settings.btnLabel | default: defaultBtnLabel -%}
{%- assign imgSizeSm = '420' -%}
{%- assign imgSizeLg = '1200' -%}

{%- case block.settings.contentAlign -%}
    {% when 'left' %}
        {%- assign contentAlign = 'justify-content-start' -%}
    {% when 'center' %}
        {%- assign contentAlign = 'justify-content-center' -%}
    {% when 'right' %}
        {%- assign contentAlign = 'justify-content-end' -%}
{%- endcase -%}

<div class="d-flex {{ contentAlign }}">

    <a href="{{- block.settings.btnResource.url -}}" class="btn btn-section"{% if block.settings.openInNewWindowStatus %} target="_blank"{% endif %}>
        {{ btnLabel }}
    </a>

</div>

{% schema %}
{
    "name": {
        "en": "Button",
        "fi": "Nappi"
    },
    "tag": "div",
    "class": "block block-button",
    "category": "basic",
    "settings": [
        {
            "id": "btnLabel",
            "type": "text",
            "label": {
                "en": "Button label",
                "fi": "Napin teksti"
            }
        },
        {
            "id": "btnResource",
            "type": "url",
            "label": {
                "en": "Button link",
                "fi": "Napin linkki"
            }
        },
        {
            "id": "openInNewWindowStatus",
            "type": "checkbox",
            "label": {
                "en": "Open in a new window",
                "fi": "Avaa uudessa ikkunassa"
            },
            "default": true
        },
        {
            "id": "contentAlign",
            "type": "radio-pill",
            "label": {
                "en": "Content alignment",
                "fi": "Sisällön ryhmittyminen"
            },
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "{# icon.alignLeftLight #}"
                },
                {
                    "value": "center",
                    "label": "{# icon.alignCenterLight #}"
                },
                {
                    "value": "right",
                    "label": "{# icon.alignRightLight #}"
                }
            ]
        }
    ]
}
{% endschema %}