{%- case block.settings.contentAlign -%}
    {% when 'left' %}
        {%- assign contentAlign = 'justify-content-start' -%}
    {% when 'center' %}
        {%- assign contentAlign = 'justify-content-center' -%}
    {% when 'right' %}
        {%- assign contentAlign = 'justify-content-end' -%}
{%- endcase -%}


<div class="d-flex {{ contentAlign }}">

    {% render 'klarna-placement', type: block.settings.type, theme: block.settings.theme %}

</div>

{% schema %}
{
    "name": "Klarna",
    "tag": "div",
    "class": "block block-klarna",
    "category": "basic",
    "settings": [
        {
            "id": "theme",
            "type": "radio-pill",
            "label": {
                "en": "Theme",
                "fi": "Teema"
            },
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": {
                        "en": "Default",
                        "fi": "Oletus"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "fi": "Tumma"
                    }
                }
            ]
        },
        {
            "id": "contentAlign",
            "type": "radio-pill",
            "label": {
                "en": "Content alignment",
                "fi": "Sisällön ryhmittyminen"
            },
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "{# icon.alignLeftLight #}"
                },
                {
                    "value": "center",
                    "label": "{# icon.alignCenterLight #}"
                },
                {
                    "value": "right",
                    "label": "{# icon.alignRightLight #}"
                }
            ]
        },
        {
            "id": "type",
            "type": "select",
            "label": {
                "en": "Type",
                "fi": "Tyyppi"
            },
            "default": "homepage-promotion-tall",
            "options": [
                {
                    "value": "homepage-promotion-tall",
                    "label": {
                        "en": "Banner 1",
                        "fi": "Banneri 1"
                    }
                },
                {
                    "value": "homepage-promotion-wide",
                    "label": {
                        "en": "Banner 2",
                        "fi": "Banneri 2"
                    }
                },
                {
                    "value": "homepage-promotion-box",
                    "label": {
                        "en": "Banner 3",
                        "fi": "Banneri 3"
                    }
                },
                {
                    "value": "sidebar-promotion-auto-size",
                    "label": {
                        "en": "Logo",
                        "fi": "Logo"
                    }
                },
                {
                    "value": "footer-promotion-auto-size",
                    "label": {
                        "en": "Payment methods",
                        "fi": "Maksutavat"
                    }
                }
            ]
        }
    ]
}
{% endschema %}