<div data-finqu-inline-editor="richtextHtml">{{ block.settings.richtextHtml }}</div>

{% schema %}
{
    "name": {
        "en": "Text",
        "fi": "Teksti"
    },
    "tag": "div",
    "class": "block block-text",
    "category": "basic",
    "settings": [
        {
            "id": "richtextHtml",
            "type": "richtext",
            "inline": "true"
        }
    ]
}
{% endschema %}