<div data-finqu-inline-editor="richtextHtml">{{ block.settings.richtextHtml }}</div>

{% schema %}
{
    "name": {
        "en": "Text",
        "fi": "Teksti"
    },
    "tag": "div",
    "class": "block block-text",
    "category": "basic",
    "settings": [
        {
            "id": "richtextHtml",
            "type": "richtext",
            "inline": "true",
            "default": "Tell your customers about your brand. Promote a product, make announcements or share information about your store."
        }
    ]
}
{% endschema %}