// Common
// -----------------------------------------------------------------------------------------

html {
    -webkit-font-smoothing: antialiased;
}

// Header
@include section-style('site-header') {

    &.section-inner {
        z-index: 2;
    }

    .site-annoucement-container {

        .site-annoucement {
            display: flex;
            justify-content: center;
            background-color: section-var(overlay_background_color);
            padding: spacer(3);

            .site-annoucement-text {
                font-weight: $font-weight-bold;
                font-size: 90%;
            }
        }
    }

    .site-header-container {

        .site-header {
            padding: spacer(2);

            .site-header-item-container {

                .site-header-item {
                    position: relative;
                    padding: spacer(2);
                    font-size: $font-size-base * 1.6;
                    border: 1px solid transparent;

                    &.site-header-item-cart {

                        &.cart-mini-expanded {
                            border-left-color: section-var(border_color);
                            border-top-color: section-var(border_color);
                            border-right-color: section-var(border_color);
                            background-color: section-var(background_color);
                            z-index: 2;
                        }
                    }

                    .site-header-item-counter {
                        position: absolute;
                        top: 7px;
                        right: 4px;
                        height: 16px;
                        min-width: 16px;
                        border-radius: 50%;
                        display: none;
                        background-color: section-var(indicator_color);
                        color: color-yiq(section-var(indicator_color), #000, #fff);

                        &.has-items {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .site-header-item-counter-text {
                            font-size: 12px;
                        }
                    }
                }
            }

            .site-header-cart-container {
                position: absolute;
                right: 0;
            }

            .site-header-top {
                display: flex;
                justify-content: space-between;

                .site-header-top-left {
                    display: flex;
                }

                .site-header-top-logo {
                    display: flex;

                    .site-header-top-logo-text {
                        font-size: $font-size-base * 2.3;
                    }
                }

                .site-header-top-right {
                    display: flex;
                    position: relative;
                }
            }

            .site-header-bottom {

            }
        }
    }

    .container,
    .container-fluid,
    .container-tiny,
    .container-compact {
        padding: 0;
    }
}

// Footer
.section-site-footer {

}

@include section-style() {

    // Links
    a {
        color: section-var(link_color);

        @include hover() {
            color: section-var(link_color);
        }
    }

    // Product
    .product-card-grid-item {

        .product-media-container {
            position: relative;

            & + .product-caption {
                padding-top: spacer(2);
            }

            .product-wishlist-action-container {
                display: flex;
                position: absolute;
                top: 8px;
                right: 0;
                z-index: 5;
                @include media-breakpoint-down(md) {
                    font-size: $font-size-base * .7;
                }
            }

            .product-media {
                @include aspect-ratio(9, 13);
            }
        }

        .product-caption {

            .product-manufacturer {
                min-height: 21px;

                .product-manufacturer-name {
                    font-family: $accent-font-family;
                    font-size: $font-size-base * 1.15;
                    line-height: $line-height-base;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .product-name {

                & + .product-price {
                    margin-top: spacer(2);
                }

                .product-name-text {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: $font-size-base;
                    font-weight: $font-weight-normal;
                    line-height: $line-height-base;
                    margin: 0;
                }
            }
        }

        .product-wishlist-action {
            background-color: section-var(background_color);
        }
    }

    .product-wishlist-action {

        &[aria-pressed="true"] {
            .svg-icon {
                path {
                    fill: section-var(indicator_color);
                    stroke: section-var(indicator_color);
                }
            }
        }

        .svg-icon {
            path {
                transition: fill .4s ease;
                fill: transparent;
            }
        }
    }

    .product-badges {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap-reverse;
        position: absolute;
        z-index: 5;

        .product-badge {
            flex: 0 0 auto;
            margin-right: spacer(2);
            margin-bottom: spacer(2);
            white-space: nowrap;

            &:last-child {
                margin-bottom: 0;
            }

            &.product-badge-new {

                .product-badge-content {
                    background-color: section-var(new_badge_bg_color);
                    color: section-var(new_badge_text_color);
                }
            }

            &.product-badge-discount {

                .product-badge-content {
                    background-color: section-var(discount_badge_bg_color);
                    color: section-var(discount_badge_text_color);
                }
            }

            &.product-badge-general {

                .product-badge-content {
                    background-color: section-var(general_badge_bg_color);
                    color: section-var(general_badge_text_color);
                }
            }

            .product-badge-content {
                font-size: 0.8rem;
                padding: spacer(1);
                line-height: 1rem;
                font-weight: $font-weight-bold;
            }
        }

        &.product-badge-position-top-left {
            top: 8px;
            left: 0;
        }

        &.product-badge-position-top-right {
            top: 8px;
            right: 0;
        }

        &.product-badge-position-bottom-left {
            left: 0;
            bottom: 8px;
        }

        &.product-badge-position-bottom-right {
            right: 0;
            bottom: 8px;
        }
    }

    // Category
    .category-tags {

        .category-tag {
            border: 1px solid section-var(border_color);

            .category-tag-content {
                display: block;
                font-size: $font-size-base;
                padding: .6rem .8rem;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .swiper-container-horizontal {

            .swiper-button-prev,
            .swiper-button-next {
                width: 30px;
                height: 30px;
                margin-top: calc(0px - (30px / 2));
                z-index: 10;
            }

            .swiper-button-prev,
            .swiper-container-rtl .swiper-button-next {
                font-size: 1.5rem;
                left: 4px;
                right: auto;
            }

            .swiper-button-next,
            .swiper-container-rtl .swiper-button-prev {
                font-size: 1.5rem;
                right: 4px;
                left: auto;
            }
        }
    }
}


// Pagination
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    .pagination-item-container {
        display: inline-flex;

        .paginate-item-previous {
            padding: spacer(6);
            font-size: 1.6rem;
        }

        .paginate-item-text {
            font-size: 1rem;
        }

        .paginate-item-next {
            padding: spacer(6);
            font-size: 1.6rem;
        }
    }
}