// Common
// -----------------------------------------------------------------------------------------

html {
    -webkit-font-smoothing: antialiased;
}

// Header
body.customer-accounts-enabled {

    @include media-breakpoint-up(sm) {
        .site-header-top-logo {
            margin-right: -88px;

        }
    }

    @include media-breakpoint-down(md) {

        &.customer-logged-in {

            .site-header-top-logo {
                margin-right: 0;
            }
        }

        .site-header-item-account-container {
            display: none;
        }

        .site-header-top-logo {
            margin-right: 44px;
        }
    }
}

body > #search-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.15);
    z-index: 5;
}

@include section-style('site-header') {

    .site-annoucement-container {

        .site-annoucement {
            display: flex;
            justify-content: center;
            background-color: section-var(overlay_background_color);
            padding: spacer(3);

            .site-annoucement-text {
                font-weight: $font-weight-bold;
                font-size: 90%;
            }
        }
    }

    .site-header-container {

        .site-header {
            @include media-breakpoint-down(md) {
                border-bottom: 1px solid section-var(border_color);
            }

            .site-header-item-container {

                &.site-header-item-cart-container {
                    z-index: 6;
                }

                .site-header-item {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: spacer(2);
                    font-size: $font-size-base * 1.6;
                    border: 1px solid transparent;

                    &.site-header-item-cart {

                        &.cart-mini-expanded {
                            border-left-color: section-var(border_color);
                            border-top-color: section-var(border_color);
                            border-right-color: section-var(border_color);
                            background-color: section-var(background_color);
                            z-index: 5;
                        }
                    }

                    .site-header-item-counter {
                        position: absolute;
                        top: 7px;
                        right: 4px;
                        height: 16px;
                        min-width: 16px;
                        border-radius: 50%;
                        display: none;
                        background-color: section-var(indicator_color);
                        color: color-yiq(section-var(indicator_color), #000, #fff);

                        &.has-items {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .site-header-item-counter-text {
                            font-size: 12px;
                        }
                    }
                }
            }

            .site-header-cart-container {
                position: absolute;
                right: 0;
                z-index: 5;
            }

            .site-header-search-container {
                position: absolute;
                left: 0;
                top: 0;
                width: 20rem;
                z-index: 10;
                visibility: hidden;
                background-color: section-var(background_color);
                color: section-var(text_color);
                box-shadow: 0px 6px 10px rgba(0, 0, 0, .05);
                @include media-breakpoint-down(md) {
                    position: fixed;
                    left: 0;
                    top: 0;
                    right: 0;
                    width: 100%;
                }

                &.search-active {
                    visibility: visible;
                }

                .site-header-search {
                    padding: spacer(2) spacer(4);

                    .site-header-search-form-container {

                        #site-header-search-form {
                            display: flex;
                            align-items: center;

                            .site-header-search-form-icon {
                                margin-right: spacer(4);
                                color: section-var(icon_color);
                            }

                            .site-header-search-form-input {
                                flex: 1;

                                > input {
                                    border: 0;
                                    border-radius: 0;
                                    background-color: section-var(background_color);
                                    color: section-var(text_color);
                                }
                            }
                        }
                    }

                    .site-header-search-results-container {

                        .site-header-search-results {

                            .site-header-search-result {

                            }
                        }
                    }
                }
            }

            .site-header-menu-container {
                border-bottom: 1px solid section-var(border_color);

                .site-header-menu {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0;
                    justify-content: center;
                    @include list-unstyled();

                    .site-header-menu-item {
                        display: inline-flex;
                        padding: spacer(2) spacer(3);

                        &.site-header-menu-item-active {

                            .site-header-menu-item-text {
                                color: section-var(indicator_color);
                            }
                        }

                        .site-header-menu-item-text {
                            color: section-var(link_color);
                        }
                    }
                }
            }

            .site-header-submenus-container {
                position: relative;

                .site-header-submenu {
                    background-color: section-var(background_color);
                    height: 0;
                    visibility: hidden;
                    opacity: 0;
                    overflow: hidden;
                    z-index: 5;

                    &.site-header-submenu-active {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        visibility: visible;
                        opacity: 1;
                        border-bottom: 1px solid section-var(border_color);
                    }

                    &.site-header-submenu-transition {
                        transition: height .5s ease-in-out;
                    }

                    .site-header-submenu-column {
                        padding-top: spacer(4);
                        padding-bottom: spacer(4);

                        .site-header-submenu-column-title {
                            padding-top: spacer(2);
                            padding-bottom: spacer(2);

                            .site-header-submenu-column-title-text {
                                font-family: $accent-font-family;
                                font-size: $font-size-base * 1.2;
                            }
                        }

                        .site-header-submenu-column-menu {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 0;
                            justify-content: center;
                            @include list-unstyled();

                            .site-header-submenu-column-menu-item {
                                display: inline-flex;
                                padding-top: spacer(2);
                                padding-bottom: spacer(2);

                                &.site-header-submenu-column-menu-item-active {

                                    .site-header-submenu-column-menu-item-text {
                                        color: section-var(indicator_color);
                                    }
                                }

                                .site-header-submenu-column-menu-item-text {
                                    color: section-var(link_color);
                                }
                            }
                        }
                    }
                }
            }

            .site-header-top {
                padding-top: spacer(2);
                padding-bottom: spacer(2);

                .container {
                    display: flex;
                    justify-content: space-between;


                    .site-header-top-left {
                        display: flex;
                        align-items: center;
                        position: relative;
                    }

                    .site-header-top-logo {
                        display: flex;

                        .site-header-top-logo-text {
                            font-size: $font-size-base * 2.3;
                        }
                    }

                    .site-header-top-right {
                        display: flex;
                        align-items: center;
                        position: relative;
                    }
                }
            }

            .site-header-bottom {
                position: relative;
                padding-top: spacer(2);
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }

    $mobile-navigation-width: 18.5rem;

    .site-mobile-navigation-container {
        position: fixed;
        left: 0;
        top: 0;
        width: $mobile-navigation-width;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        overflow: hidden;

        &.site-mobile-navigation-visible {
            visibility: visible;
            opacity: 1;
        }

        &.site-mobile-navigation-active {

            #site-mobile-navigation-overlay {
                background-color: rgba(0,0,0,.15);
            }

            .site-mobile-navigation-layer-root {
                z-index: 10;
                transform: translateZ(0);
                transition: transform 225ms cubic-bezier(0,0,.2,1),opacity 225ms cubic-bezier(0,0,.2,1);
            }
        }

        .site-mobile-navigation-layer {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: section-var(background_color);
            width: $mobile-navigation-width;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            transform: translate3d(-100%,0,0);
            transition: transform 195ms cubic-bezier(.4,0,1,1),opacity 195ms cubic-bezier(.4,0,1,1);

            &.site-mobile-navigation-layer-child {
                transform: translate3d(100%,0,0);
                transition: transform 195ms cubic-bezier(.4,0,1,1),opacity 195ms cubic-bezier(.4,0,1,1);
                visibility: hidden;
                opacity: 0;

                &.site-mobile-navigation-layer-visible {
                    visibility: visible;
                    opacity: 1;
                    z-index: 11;
                }

                &.site-mobile-navigation-layer-active {
                    transform: translateZ(0);
                    transition: transform 225ms cubic-bezier(0,0,.2,1),opacity 225ms cubic-bezier(0,0,.2,1);
                }
            }

            .site-mobile-navigation-account {
                padding: spacer(4);
                box-shadow: 0px 6px 10px rgba(0, 0, 0, .05);

                .site-mobile-navigation-account-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .site-mobile-navigation-account-text {
                        font-family: $accent-font-family;
                        font-size: $font-size-base * 2;
                        margin-right: spacer(2);
                    }
                }
            }

            .site-mobile-navigation-header {
                padding: spacer(4);
                box-shadow: 0px 6px 10px rgba(0, 0, 0, .05);

                .site-mobile-navigation-header-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button[name="site-mobile-navigation-hide-layer"] {
                        margin-right: spacer(2);
                    }

                    .site-mobile-navigation-header-text {
                        font-family: $accent-font-family;
                        font-size: $font-size-base * 2;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .site-mobile-navigation-menu {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                @include list-unstyled();

                .site-mobile-navigation-menu-item {
                    display: flex;
                    justify-content: space-between;
                    padding: spacer(4);
                    border-bottom: 1px solid section-var(border_color);

                    &:last-child {
                        border-bottom: 0;
                    }

                    .site-mobile-navigation-menu-item-text {
                        font-weight: $font-weight-bold;
                    }
                }
            }

            .site-mobile-navigation-social-media-buttons-container {
                display: flex;
                justify-content: space-between;
                padding: spacer(4);
                box-shadow: 0px -6px 10px rgba(0, 0, 0, .05);
            }
        }

        #site-mobile-navigation-overlay {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: background-color 195ms cubic-bezier(.4,0,1,1)
        }
    }

    .container,
    .container-fluid,
    .container-tiny,
    .container-compact {
        padding: 0;
    }
}

@include section-style('site-footer') {

    .site-footer-container {

        .site-footer {

            .site-footer-title {
                font-weight: $font-weight-bold;
                font-size: $font-size-base * 1.1;
                color: section-var(heading_color);
                margin-bottom: spacer(2);
            }

            .site-footer-top {

                .site-footer-menu-container {
                    @include media-breakpoint-down(md) {
                        margin-bottom: spacer(4);
                    }

                    .site-footer-menu {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0;
                        @include list-unstyled();

                        .site-footer-menu-item {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: spacer(2);

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .site-footer-menu-item-text {
                                color: section-var(link_color);
                            }
                        }
                    }
                }

                .site-footer-text-container {
                    @include media-breakpoint-down(md) {
                        margin-bottom: spacer(4);
                    }
                }
            }

            .site-footer-middle {
                border-top: 1px solid section-var(border_color);

                .site-footer-social-media-buttons-container {
                    display: flex;

                    .site-footer-social-media-btn {
                        display: inline-flex;
                    }
                }

                .site-footer-payment-methods-container {
                    display: flex;
                    justify-content: flex-end;
                    @include media-breakpoint-down(md) {
                        justify-content: flex-start;
                    }

                    .site-footer-payment-method {
                        display: inline-flex;

                        img {
                            max-width: 100%;
                            max-height: 50px;
                        }
                    }
                }
            }

            .site-footer-bottom {
                border-top: 1px solid section-var(border_color);
            }
        }
    }
}

@include section-style() {

    // Links
    a {
        color: section-var(link_color);

        @include hover() {
            color: section-var(link_color);
        }
    }

    // Product
    .product-card-grid-item {

        .product-media-container {
            position: relative;

            & + .product-caption {
                padding-top: spacer(2);
            }

            .product-wishlist-action-container {
                display: flex;
                position: absolute;
                top: 8px;
                right: 0;
                z-index: 1;
                @include media-breakpoint-down(md) {
                    font-size: $font-size-base * .7;
                }
            }

            .product-media {
                @include aspect-ratio(9, 13);
            }
        }

        .product-caption {

            .product-manufacturer {
                min-height: 21px;

                .product-manufacturer-name {
                    font-family: $accent-font-family;
                    font-size: $font-size-base * 1.15;
                    line-height: $line-height-base;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .product-name {

                & + .product-price {
                    margin-top: spacer(2);
                }

                .product-name-text {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: $font-size-base;
                    font-weight: $font-weight-normal;
                    line-height: $line-height-base;
                    margin: 0;
                }
            }
        }

        .product-wishlist-action {
            background-color: section-var(background_color);
        }
    }

    .product-wishlist-action {

        &[aria-pressed="true"] {
            .svg-icon {
                path {
                    fill: section-var(indicator_color);
                    stroke: section-var(indicator_color);
                }
            }
        }

        .svg-icon {
            path {
                transition: fill .4s ease;
                fill: transparent;
            }
        }
    }

    .product-badges {
        display: flex;
        align-items: flex-start;
        position: absolute;
        z-index: 1;

        .product-badge {
            flex: 0 0 auto;
            margin-right: spacer(2);
            margin-bottom: spacer(2);
            white-space: nowrap;

            &:last-child {
                margin-bottom: 0;
            }

            &.product-badge-new {

                .product-badge-content {
                    background-color: section-var(new_badge_bg_color);
                    color: section-var(new_badge_text_color);
                }
            }

            &.product-badge-discount {

                .product-badge-content {
                    background-color: section-var(discount_badge_bg_color);
                    color: section-var(discount_badge_text_color);
                }
            }

            &.product-badge-general {

                .product-badge-content {
                    background-color: section-var(general_badge_bg_color);
                    color: section-var(general_badge_text_color);
                }
            }

            .product-badge-content {
                font-size: 0.8rem;
                padding: spacer(1);
                line-height: 1rem;
                font-weight: $font-weight-bold;
            }
        }

        &.product-badge-position-top-left {
            top: 8px;
            left: 0;
        }

        &.product-badge-position-top-right {
            top: 8px;
            right: 0;
        }

        &.product-badge-position-bottom-left {
            left: 0;
            bottom: 8px;
        }

        &.product-badge-position-bottom-right {
            right: 0;
            bottom: 8px;
        }
    }

    // Category
    .category-tags {

        .category-tag {
            border: 1px solid section-var(border_color);

            .category-tag-content {
                display: block;
                font-size: $font-size-base;
                padding: .6rem .8rem;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .swiper-container-horizontal {

            .swiper-button-prev,
            .swiper-button-next {
                width: 30px;
                height: 30px;
                margin-top: calc(0px - (30px / 2));
                z-index: 10;
            }

            .swiper-button-prev,
            .swiper-container-rtl .swiper-button-next {
                font-size: 1.5rem;
                left: 4px;
                right: auto;
            }

            .swiper-button-next,
            .swiper-container-rtl .swiper-button-prev {
                font-size: 1.5rem;
                right: 4px;
                left: auto;
            }
        }
    }
}


// Pagination
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    .pagination-item-container {
        display: inline-flex;

        .paginate-item-previous {
            padding: spacer(6);
            font-size: 1.6rem;
        }

        .paginate-item-text {
            font-size: 1rem;
        }

        .paginate-item-next {
            padding: spacer(6);
            font-size: 1.6rem;
        }
    }
}