// Image carousel
// -----------------------------------------------------------------------------------------

.section-image-carousel .section-inner {

	@each $key, $val in $carousel-heights {

		&.section-height-#{$key} {
			padding-top: 0;
			padding-bottom: 0;

			.swiper-container {
				@include media-breakpoint-down(md) {
					height: 350px;

					.slide-bg-placeholder {

						.svg-placeholder {
							width: 100%;
							height: 350px;
						}
					}
				}
				@include media-breakpoint-up(md) {
					height: $val;

					.slide-bg-placeholder {

						.svg-placeholder {
							width: 100%;
							height: $val;
						}
					}
				}
			}
		}
	}

	.swiper-container {
		width: 100%;
		height: 100%;

		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-direction: column;
			position: relative;
			overflow: hidden;

			.slide-bg-img img {
				width: 100%;
		        height: 100%;
		        object-fit: cover;
		        font-family: 'object-fit: cover';
		        position: absolute;
		        left: 0;
		        right: 0;
		        transform: none;
		        z-index: 1;
			}

			.slide-bg-placeholder {
				position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100vh;
			}
		}
	}
}