// Section
// -----------------------------------------------------------------------------------------

.section {

	.section-inner {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
		position: relative;
		@include section-style($section: null, $wrapped: false) {
			color: section-var(text_color);

			&.section-overlay {

				.section-header {

					& + .section-content {

						.container,
						.container-fluid,
						.container-tiny,
						.container-compact {
							padding-top: 0;
						}
					}
				}

				.container,
				.container-fluid,
				.container-tiny,
				.container-compact {
					background-color: section-var(background_color);
					padding-top: spacer(6);
					padding-bottom: spacer(6);
					@include media-breakpoint-up(md) {
						padding-left: spacer(6);
						padding-right: spacer(6);
					}
				}

				.section-bg {
					background-color: section-var(overlay_background_color);
				}
			}

			.section-bg {
				background-color: section-var(background_color);
			}

			.section-header {

				.title-container {

					.title {
						color: section-var(heading_color);
					}
				}

				.subtitle-container {

					.subtitle {
						color: section-var(subheading_color);
					}
				}
			}
		}
	}

	.section-header {
		display: flex;

		& + .section-content {

			.container,
			.container-fluid,
			.container-tiny,
			.container-compact {
				padding-top: 0;
			}
		}

		.container,
		.container-fluid,
		.container-tiny,
		.container-compact {
			padding-top: spacer(4);
			padding-bottom: spacer(4);
		}

		.action-container {

			& + .breadcrumbs-container {
				padding-top: spacer(3);
			}

			& + .title-container {
				padding-top: spacer(3);
			}

			& + .subtitle-container {
				padding-top: spacer(1);

				& + .description-container {
					padding-top: spacer(6);
				}
			}

			& + .description-container {
				padding-top: spacer(6);
			}
		}

		.breadcrumbs-container {
			display: flex;

			& + .title-container {
				padding-top: spacer(3);
			}

			& + .subtitle-container {
				padding-top: spacer(1);

				& + .description-container {
					padding-top: spacer(6);
				}
			}

			& + .description-container {
				padding-top: spacer(6);
			}

			.breadcrumbs {
				display: flex;
				margin: 0;
				padding: 0;
				align-items: center;
				list-style: none;

				.item {
					display: flex;
					align-items: center;
					font-size: 1rem;
					font-weight: $font-weight-bold;
					@include media-breakpoint-down(md) {
						display: none;

						&:nth-last-of-type(-n+2) {
							display: flex;
						}
					}

					.item-seperator {
						margin-left: spacer(3);
						margin-right: spacer(3);
						font-size: 1.2rem;
					}
				}
			}
		}

		.title-container {

			& + .subtitle-container {
				padding-top: spacer(1);

				& + .description-container {
					padding-top: spacer(6);
				}
			}

			& + .description-container {
				padding-top: spacer(6);
			}

			.title {
				font-size: $h1-font-size * 1.15;
				font-weight: $font-weight-bold;
				line-height: $headings-line-height;
			}
		}

		.subtitle-container {

			.subtitle {
				font-size: $h4-font-size;
				line-height: $headings-line-height;
			}
		}

		.description-container {

			.description {

			}
		}
	}

	.section-content {
		display: flex;
		flex-direction: column;
		position: relative;

		.container,
		.container-fluid,
		.container-tiny,
		.container-compact {
			padding-top: spacer(4);
			padding-bottom: spacer(4);
		}
	}

	.section-bg {
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
    	pointer-events: none;
    	z-index: -1;
	}

	@each $key, $val in $section-spacers-content {
		@include media-breakpoint-up(md) {
			.section-spacing-content-#{$key} {

				.container,
				.container-fluid,
				.container-tiny,
				.container-compact {

					.row {
						margin-left: -#{$val};
						margin-right: -#{$val};

						> .col,
						> [class*="col-"] {
							padding-right: $val;
							padding-left: $val;
						}
					}
				}
			}
		}
	}

	@each $key, $val in $section-spacers-height {
		@include media-breakpoint-up(md) {
			.section-height-#{$key} {
				padding-top: $val;
				padding-bottom: $val;

				.section-header {
					margin-top: 0;
				}
			}
		}
	}

	@each $key, $val in $section-spacers-inner {
		@include media-breakpoint-up(md) {
			.section-spacing-inner-#{$key} {
				.container,
				.container-fluid,
				.container-tiny,
				.container-compact {
					padding: $val;
				}
			}
		}
	}
}