// Tables
// -----------------------------------------------------------------------------------------

@include section-style() {

	.table {
		color: section-var(table_text_color);
		background-color: section-var(table_bg_color);

		th,
		td {
			border-top: $table-border-width solid section-var(table_border_color);
		}

		thead th {
			border-bottom: $table-border-width solid section-var(table_border_color);
		}

		tbody + tbody {
			border-top: $table-border-width solid section-var(table_border_color);
		}
	}

	.table-bordered {
		border: $table-border-width solid section-var(table_border_color);

		th,
		td {
			border: $table-border-width solid section-var(table_border_color);
		}
	}

	.table-striped {
		tbody tr:nth-of-type(#{$table-striped-order}) {
			background-color: color-yiq(section-var(table_bg_color), darken(section-var(table_bg_color), 4%), lighten(section-var(table_bg_color), 4%));
		}
	}

	.table-hover {
		tbody tr {
			@include hover() {
				color: section-var(table_text_color);
				background-color: color-yiq(section-var(table_bg_color), darken(section-var(table_bg_color), 4%), lighten(section-var(table_bg_color), 4%));
			}
		}
	}
}