{%- assign sectionTitle = 'blog.title' | t -%}
{%- assign sectionTitleTag = 'h1' -%}

{%- capture sectionContent -%}

	{%- assign articles = blog.recent -%}

	{% if articles.size > 0 %}

		{%- paginate articles by 20 -%}

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">

				{%- for article in articles -%}

					<div class="col pt-3 pb-4">

						{%- render 'article-card-grid', article: article, itemsPerRow: 3 -%}

					</div>

				{%- endfor -%}

			</div>

			<div class="row">

                <div class="col">

                    {% render 'pagination', paginate: paginate %}

                </div>

            </div>

            {% render 'schemas/item-list', items: articles, paginate: paginate %}

		{%- endpaginate -%}

	{% else %}

		<div>
			<span>{{ 'blog.no_articles' | t }}</span>
		</div>

	{% endif %}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag %}

{% schema %}
{
    "name": {
        "en": "Blog",
        "fi": "Blogi"
    },
    "tag": "section",
    "class": "section section-blog",
    "is_creatable": false
}
{% endschema %}