{%- assign sectionTitle = 'cart.title' | t -%}

{%- capture sectionContent -%}

	<div class="cart" data-cart-container>

        <div class="text-center">

		  {%- render 'icon', icon: 'loading-half-7QUSw4' class: 'svg-spin svg-icon-fill svg-icon-4x' -%}

        </div>

	</div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionHeaderTextAlign: 'center', sectionContentContainer: 'compact', sectionOverlay: true %}

{% schema %}
{
    "name": "Cart",
    "tag": "section",
    "class": "section section-cart",
    "is_creatable": false
}
{% endschema %}