{%- assign sectionTitle = 'cart.title' | t -%}
{%- assign sectionTitleTag = 'h2' -%}

{%- capture sectionContent -%}

	<div class="cart" data-cart-container>

        <div class="text-center">

	       {%- render 'icon', icon: 'loading-half-7QUSw4' class: 'svg-spin svg-icon-fill svg-icon-4x' -%}

        </div>

	</div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionHeaderTextAlign: 'center', sectionContentContainer: 'tiny', sectionOverlay: true %}

{% schema %}
{
    "name": {
        "en": "Cart",
        "fi": "Ostoskori"
    },
    "tag": "section",
    "class": "section section-cart",
    "is_creatable": false
}
{% endschema %}