// Aspect ratio
// -----------------------------------------------------------------------------------------

@mixin aspect-ratio($width, $height, $fit: 'contain', $position: null) {
    position: relative;

    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .aspect-ratio-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .aspect-ratio-item {
        	width: 100%;
	        height: 100%;
	        object-fit: #{$fit};
	        font-family: 'object-fit: #{$fit}';
            @if $position {
                object-position: $position;
            }

            &.svg-placeholder {
                width: 100%;
                height: 100%;
            }

            &.aspect-ratio-item-cover {
                object-fit: cover;
                font-family: 'object-fit: cover';
            }

            &.aspect-ratio-item-contain {
                object-fit: contain;
                font-family: 'object-fit: contain';
            }

            &.aspect-ratio-item-position-left {
                object-position: left;
            }

            &.aspect-ratio-item-position-top {
                object-position: top;
            }

            &.aspect-ratio-item-position-right {
                object-position: right;
            }

            &.aspect-ratio-item-position-bottom {
                object-position: bottom;
            }

            &.aspect-ratio-item-position-center {
                object-position: center;
            }
        }
    }
}