<div class="product-subattribute-container form-group" data-attribute="{{ option.attribute.id }}" data-option="{{ option.id }}" style="display: none;">

    {%- assign attribute = option.subattribute -%}
    {%- assign subOption = option.id -%}

    {%- if attribute.input_type == 'select' -%}

        {% render 'product-attributes/select', attribute: attribute, subOption, showAttributePrice: showAttributePrice, showAttributeTotalPrice: showAttributeTotalPrice, showAttributeStock: showAttributeStock, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct %}

    {%- elsif attribute.input_type == 'radio' -%}

        {% render 'product-attributes/radio', attribute: attribute, subOption, showAttributePrice: showAttributePrice, showAttributeTotalPrice: showAttributeTotalPrice, showAttributeStock: showAttributeStock, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct %}

    {%- elsif attribute.input_type == 'checkbox' -%}

        {% render 'product-attributes/checkbox', attribute: attribute, subOption, showAttributePrice: showAttributePrice, showAttributeTotalPrice: showAttributeTotalPrice, showAttributeStock: showAttributeStock, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct %}

    {%- elsif attribute.input_type == 'text' -%}

        {% render 'product-attributes/text', attribute: attribute, subOption, showAttributePrice: showAttributePrice, showAttributeTotalPrice: showAttributeTotalPrice, showAttributeStock: showAttributeStock, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct %}

    {%- endif -%}

</div>