{% if page.content %}

	{%- capture sectionContent -%}

		{{ page.content }}

	{%- endcapture -%}

	<section class="section section-search">
		{% render 'section', sectionTitle: page.meta_title sectionContent: sectionContent %}
	</section>

{% else %}

	{{ content_for_index }}

{% endif %}

{% schema %}
{
	"name": {
		"en": "Page",
		"fi": "Sivu"
	}
}
{% endschema %}