{% if page.content %}

	{%- assign sectionTitle = page.title -%}
	{%- assign sectionTitleTag = 'h1' -%}
	{%- assign sectionBreadcrumbs = page.breadcrumbs -%}

	{%- capture sectionContent -%}

		{{ page.content }}

	{%- endcapture -%}

	<section class="section section-page">
		{% render 'section', sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionContent: sectionContent, sectionBreadcrumbs: sectionBreadcrumbs %}
	</section>

{% else %}

	{{ content_for_index }}

{% endif %}

{% schema %}
{
	"name": {
		"en": "Page",
		"fi": "Sivu"
	}
}
{% endschema %}