<div class="container">

	<h2>Saitti on vielä vähä keske</h2>

	{% if store.has_password %}

		<p>Kirjaudu sisään ni näät sen.</p>

		{% form 'store_password' %}
			<input type="password" name="password" class="form-control">
			<button type="submit" class="btn btn-section">Kirjaudu</button>
		{% endform %}

	{% endif %}

</div>