{%- assign sectionTitle = 'password_protected.title' | t -%}

{%- capture sectionContent -%}

	{% if store.has_password %}

	    {% form 'store_password' %}

	        <div class="form-group form-floating">

	            <input type="password" class="form-control" id="store-password" name="password" placeholder="{{ 'account.information.password' | t }}"required>

	            <label for="store-password">
	                {{ 'account.information.password' | t }}
	            </label>

	        </div>

	        {% render 'form-error', error: form.error %}

	        <button type="submit" class="btn btn-section btn-block">{{ 'password_protected.cta' | t }}</button>

	    {% endform %}

    {% endif %}

{%- endcapture -%}

<section class="section section-password">
    {% render 'section', sectionTitle: sectionTitle, sectionContent: sectionContent, sectionContentContainer: 'tiny', sectionOverlay: true %}
</section>