// Aspect ratio
// -----------------------------------------------------------------------------------------

@each $key, $val in $aspect-ratios {

	$ratioArr: str-split(#{$val}, ':');
	$fit: contain;

	@if $key == product {
        $fit: $aspect-ratio-product-image-fit;
    }

	.aspect-ratio-#{$key} {
		@include aspect-ratio(to-number(nth($ratioArr, 1)), to-number(nth($ratioArr, 2)), $fit);
	}
}