// Aspect ratio
// -----------------------------------------------------------------------------------------

@each $breakpoint in map-keys($grid-breakpoints) {

	@include media-breakpoint-up($breakpoint) {

		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $key, $val in $aspect-ratios {

			$ratioArr: str-split(#{$val}, ':');
			$fit: contain;

			@if $key == product {
		        $fit: $aspect-ratio-product-image-fit;
		    }

		    .aspect-ratio#{$infix}-#{$key} {
				@include aspect-ratio(to-number(nth($ratioArr, 1)), to-number(nth($ratioArr, 2)), $fit);
			}
		}
	}
}