// Media
// -----------------------------------------------------------------------------------------

@each $val in $background-positions {
	.bg-img-pos-#{str-replace(#{$val}, ' ', '-')} {
		background-position: $val;
	}
}

@include media-breakpoint-down(sm) {
	.hide-bg-sm {
		background-image: none !important;
	}
}

img.lazy {
	opacity: 0;
}

img:not(.initial):not(.lazy-disable-transition) {
	transition: opacity .5s;
}

img.lazy-disable-transition,
img.initial,
img.loaded,
img.error {
	opacity: 1;
}